@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

@* display the logo and league name *@
<div class="jumbotron p-2 text-center">
  <h2 class="display-3"><img src="/image/@(Model.League.LeagueId)/@(Model.League.LeagueId).png"> @Model.League.Name</h2>
</div>
